body{
    margin: 0;
    padding: 0;
}
.head-top{
    background-color: black;
    color: white;
    
}
.head-top i{
    color: #ffa500;
}
.cont{
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}
/* Nav */
header{
    background-color: #d1e3ff;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}
nav #logo{
    text-decoration: none;
    color: #0355cc;
    text-transform: uppercase;
    font: 24px 'Lato', sans-serif;
    font-weight: bold;
}
nav i{
    font-size: 32px;
}
#menu{
      display: none;
    } 

.left h1{
    color: #0355cc;
    font: 40px 'Merriweather Sans', sans-serif;
    font-weight: bold;
    margin-left: 20px;
    max-width: 50%;
}
.left p{
    margin-left:20px ;
    margin-right: 10px;
    font: 15px 'Lato';
    color: #444;
}
.btn{
    margin-left: 20px;
    display: flex;
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #ff8a1d;;
    width: 190px;
    height:40px ;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    color:white
}
.right img {
    width: 100%;
    margin-top: 20px;
}

@media only screen and (min-width: 768px){
     
    #menu{
        display: flex;
        list-style: none;
        align-items: center;
        padding: 0px 20px;
    }
    #menu  li a{
        padding-right: 20px ;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    #menu li a:hover{
        color: #0355cc;
    }
    .header-menu{
        display: none;
    }
    .hero{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    .hero p{
        width: 50%;
    }
    .left{
        margin-left: 100px;
        width: 50%;
    }
    .right img{
        height: 660px;
        object-fit: cover;
    }
    .right{
        margin-right: 80px;
    }
    
}
